@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

* {
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

:root {

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --light-color: #FAFAFA;
  --dark-color: #242424;
  --blue-color: #1D5CEB;

  background-color: var(--light-color);

  

}


/* --------------------- 

UTILITY CLASSES 

--------------------- */


/* EFEITO CURSOR AZUL */
.cursor {
   position: fixed;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 2px solid var(--blue-color);
   transition: transform 2s ease;
   transform-origin: center center;
   pointer-events: none;
   z-index: 1000;
}

.grow {
  transform: scale(5);
  background-color: var(--blue-color);
  mix-blend-mode: screen;
}

/* PARAGRAFOS */

.p-18 {
  font-size: 18px;
}

.p-24 {
  font-size: clamp(1.05rem, 2vw, 1.6rem);
}

/* PARAGRAFOS CONTAINERS */

.p-400s {
  max-width: 400px;
}

.p-600s {
  max-width: 600px;
}

.p-800s {
  max-width: 800px;
}



/* TITULOS */


.h2-30 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin: 0;

}

.h2-40 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin: 0;

}

.h2-50 {
  font-size: clamp(3.5rem, 12vw, 6rem);
  margin: 0;
}



/* ESTILIZAÇÃO */

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline wavy #1D5CEB;
}


/* scrollbar estilização */
::-webkit-scrollbar {
  width: 2em;
}

::-webkit-scrollbar-track {
  background-color: var(--dark-color);
}

::-webkit-scrollbar-thumb {

  background-color: var(--blue-color);
  border-radius: 50vw;

}


/* botão padrão */
.button {

  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  position: relative;
  display: inline-block;
  padding: 12px 36px;

  color: var(--dark-color);
  font-weight: bold;
  text-decoration: none;

  background: rgb(116,210,227);
  background: linear-gradient(90deg, rgba(116,210,227,1) 0%, rgba(134,237,238,1) 49%, rgba(88,129,221,1) 100%);

  transition: all .3s ease-in-out;
}


.button:hover {
  transform: scale(1.1);
}

/* ALINHAMENTO / ESPAÇAMENTO */



.centered {
  text-align: center;
}

.spacing-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.spacing-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}


/* CONTAINERS */

.container-centered {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.media__scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 40%;
  gap: 3rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.snap-inline {
  scroll-snap-type: inline mandatory;
}

/* Caso você parar a scroll bar, ela volta para a borda mais próxima */
.snap-inline > * {
  scroll-snap-align: start;
}



/* --------------------- 

CABEÇALHO 

--------------------- */

.container__header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #242424;
  flex-wrap: wrap;
  
}

.menu__item {

  display: inline;
  font-weight: 700;
  text-transform: uppercase;

  padding-right: 30px;

}

.menu__item a {
  text-decoration: none;
  color: var(--dark-color);
  transition: all .2s ease-in-out; 

}

.menu__item a:hover {

  transform: scale(1.1); 
  transition: 0.3s;
  color: var(--blue-color);

}


/* menu mobile configs*/


.mobile__menu__button {
  display: none;
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0.5em;
}

.menu__icon-close {
  display: none;
}

.mobile__menu__button img {
  width: 40px;
}


@media (max-width: 80em) {

  .mobile__menu__button{
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    inset: 7rem 0 auto; 

    max-width: 70rem;
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.20);
    margin: auto;
  }

  /* adiciona o atributo que torna o menu visível. */
  .menu[data-visible] {
    display: block;
    position: flex;
  }

  /* edita para que as listas apareçam uma embaixo da outra. */
  .menu ul {
    display: grid;
    gap: 1rem;
    padding-left: 2rem;
  }
}

/* --------------------- 

HEADER 

--------------------- */


.container-end {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;
}

.container-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container__logo {

  font-size: 30px;
  color: var(--dark-color);
  margin-left: 30px;

}

.banner__photo {
  max-width: 500px;
}


.badge{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.seta-bootstrap {
  font-size: 3rem;
  color: var(--blue-color);
  padding-top: 3rem;
  border-radius: 50%;
  border: 1px solid var(--blue-color);
  cursor: pointer;
}

.code-bootstrap {
  font-size: 2rem;
  color: var(--blue-color);
}



/* --------------------- 

REDES SOCIAIS  

--------------------- */

.container-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--dark-color);
  padding: 1rem;
}

.container__list-aligned {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0;
}

.social__icons {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
}

.social__icons a {
  text-decoration: none;
  color: var(--light-color);
  padding-left: 1rem;
  font-size: 20px;
  font-weight: 700;
}

.social__icons i{
  font-size: 30px;
  color: var(--light-color);
}
















/* --------------------- 

CARDS 

--------------------- */


.container-cards {

  padding: 1rem;

  justify-content: center;
  justify-items: center;

  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

}


.card {
  display: flex;
  flex-direction: column;
  place-content: start;
  place-items: center;
  padding: 1rem;
}

.card h3 {
  font-size: 1rem;
}

.circle {

  height: 150px;
  width: 150px;
  border: 1px solid var(--blue-color);
  border-radius: 1rem 4rem 1rem 4rem;
  position: relative;
  overflow: hidden;
}



/* small */
.card__icon-ms {
  width: 30px;
}

/* medium */
.card__icon-md {
  width: 50px;
}

/* large */
.card__icon-ml {
  width: 80px;
}


/* --------------------- 

DIFERENCIAIS

--------------------- */


.media__icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 1rem;
}

.media__item > h2, p {
  text-align: center;
}

.media__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding: 3rem;
}

 @media (max-width: 57rem) {

  .media__scroller {
    grid-auto-columns: 100%;
  }

  .cursor {
    display: none;
  }
 }

/* --------------------- 

GALERIA 

--------------------- */

.filter {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.filter__item {
  border: 1px solid #1D5CEB;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.filter__item.active {
  border-color: var(--blue-color);
  color: var(--blue-color);
}


.gallery {
  display: grid;
  place-items: center;
  justify-content: center;
  gap: 1rem;

}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

  gap: 1rem;
  max-width: 100%;
  border: 1px solid var(--dark-color);

}

.box img {
  max-width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.box:hover .overlay {
  height: 100%;
}

.box__title {
  font-size: 1.5rem;
  color: var(--light-color);
}


/* animações da galeria */
.box.show {
  animation: show .5s ease 0s 1 forwards;
  transform-origin: center;
}

.box.hide {
  animation: hide .5s ease 0s 1 forwards;
  transform-origin: center;
}



@keyframes hide {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;  
  }
}

@keyframes show {
  0% {
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;
  }
  100% {
    transform: scale(1);
  }
}


@media screen and (min-width: 50rem) {

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .gallery.box img {
    height: 100%;
  }

}

@media screen and (min-width: 60rem) {

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

}

/* --------------------- 

Footer 

--------------------- */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--light-color);
  padding: 1rem;
  border-top: 1px solid var(--dark-color);

}
